<header>
  <a class="site-logo" href="/">
    <p><stylize class="logo-stylize">My Medicine </stylize>Tracker</p> 
  </a>
  {{#if isLoggedIn}}
    <a href="/dashboard">Home</a>
    <a href="/api/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}
</header>
