{{> header}}
<main>
  <h1 class="addMedicine-script">New Medicine</h1>
  <h1 class="addMedicine-details">Details</h2>
  <form class="addMed-form" action="/api/addMedicine" method="POST">

    <label for="medicine_name">Medicine Name</label>
    <input type="text" name="medicine_name" value="{{medName}}" id="medicine_name">

    <label for="dosage_mg">Dosage</label>
    <input type="text" name="dosage_mg" id="dosage_mg">

    <label for="frequency">Frequency</label>
    <input type="text" name="frequency" id="frequency">

    <button class="btn">Add Medicine</button>
  </form>
</main>