{{> header}}
<main>
  <h1>{{userId}} </h1>
   <div>
      <form class="test" action="/search?">
        <button class="btn">Submit</button>
      </form>
      {{#each userMeds}}
        <div>
          <p>{{this.medicine_name}}</p>    
        </div>
      {{/each}}
    </div>
</main>
