{{> header}}
<main>
  <h1>
    Welcome to the home page!
  </h1>
  <p>
  Here you can track your personal medication list! <br>
  Log in or sign up to start today! 
  </p>
  <a href="/signup">
    <button class="btn">Sign Up</button>
  </a>
  <a href="/login">
    <button class="btn">Log In</button>
  </a>
  
  
  
</main>

