{{> header}}
<main>
  <h1 class="index-welcome">Welcome to</h1>
  <h1 class="index-script">My Medicine</h1>
  <h1 class="index-tracker">Tracker!</h1>
  </h1>
  <p>
  An application to help track your personal medication list! <br>
  Log in or sign up to start today! 
  </p>
  <a href="/signup">
    <button class="btn">Sign Up</button>
  </a>
  <a href="/login">
    <button class="btn">Log In</button>
  </a>
  
  
  
</main>

