{{> header}}
<main>
  <h1>
    Welcome to </br><stylize class="app_name_script">My Medicine </stylize></br>Tracker!
  </h1>
  <p>
  An application to help track your personal medication list! <br>
  Log in or sign up to start today! 
  </p>
  <a href="/signup">
    <button class="btn">Sign Up</button>
  </a>
  <a href="/login">
    <button class="btn">Log In</button>
  </a>
  
  
  
</main>

