{{> header}}
<main>
  <h1>Welcome to the home page!</h1>
  <form class="test" action="/search">
    <button class="btn">Submit</button>
  </form>
  
</main>


  {{!-- <h1>Welcome to the home page!</h1>
  <form class="log-in_button" action="/login">
    <button class="btn">Log In</button>
  </form>
  <form class="signup_button" action="/signup">
    <button class="btn">Sign Up</button>
  </form> --}}