{{> header}}
<main>
  <h1 class="search-script">Search</h1>
  <h1 class="search-medicine">Medicine Name</h1>
  <h2>Medicine validaded by FDA database</h2>
  <div>
    {{#if response}}
      <p class="alert">
      Did you mean </br> {{response}}? </br>
      If so, click "enter", otherwise enter a new medicine name.
      </p> 
    {{/if}}

    {{#if error}}
      <h2>Medicine Not Found</h2>
      <p>Please check spelling and/or enter valid FDA approved medication name</p> 
    {{/if}}

    </div>
  <form class="search-form" action="/api/search" method="POST">
    <label for="newMedName">Medicine Name</label>
    <input type="text" name="newMedName"  {{#if confirmName}} data-value="{{confirmName}}" value="{{confirmName}}" {{/if}} id="newMedName">
    <button class="btn">Submit</button>
  </form>
  
</main>

<script>
  //If input has value and text box was NOT clicked, button set to default "Submit"
  const button = document.querySelector("button")
  
  //If input has no value (upon page load), button is defualted to "Search"
  const input = document.querySelector("input").dataset.value
  if(!input){
    button.textContent = "Search"
  }
  //If text box is clicked to change value, button is set to Search
  document.querySelector("input").onclick = function(e) {
      button.textContent = "Search"
  }

</script>

