{{> header}}
<main>
  <h1>Enter new Medication Name</h1>
  <div>
    {{#if response}}
      <p>
      Did you mean {{response}}? </br>
      If so, click submit, otherwise enter a new medicine name.
      </p> 
    {{/if}}

    {{#if error}}
      <h2>Medicine Not Found</h2>
      <p>Please check spelling and/or enter valid FDA approved medication name</p> 
    {{/if}}

    </div>
  <form class="login-form" action="/api/search" method="POST">
    <label for="newMedName">Medicine Name</label>
    <input type="text" name="newMedName" {{#if confirmName}} value="{{confirmName}}" {{/if}} id="newMedName">
    <button class="btn">Submit</button>
  </form>
  
</main>

