{{> header}}
<main>
  <h1>Search for medicine name</h1>
  <h4>from FDA database</h4>
  <div>
    {{#if response}}
      <p>
      Did you mean {{response}}? </br>
      If so, click submit, otherwise enter a new medicine name.
      </p> 
    {{/if}}

    {{#if error}}
      <h2>Medicine Not Found</h2>
      <p>Please check spelling and/or enter valid FDA approved medication name</p> 
    {{/if}}

    </div>
  <form class="search-form" action="/api/search" method="POST">
    <label for="newMedName">Medicine Name</label>
    <input type="text" name="newMedName" {{#if confirmName}} data-value="{{confirmName}}" value="{{confirmName}}" {{/if}} id="newMedName">
    <button class="btn">Search</button>
  </form>
  
</main>

<script>
  document.querySelector("input").onchange = function(e) {

    const originalValue = e.target.dataset.value 
    const value = e.target.value
    const button = document.querySelector("button")
    if(originalValue === value) {
      button.textContent = "Submit"
    }
    else{
      button.textContent = "Search"
    }
  }

</script>

