{{> header}}
<main>
  <h1 class="app_name_script">My Medicine</h1>
  <h2>Tracker</h2>
  <form class="login-form" action="/api/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    {{#if error}}
      <p class="login-error">{{error}}</p>
    {{/if}}
    <button class="btn">Sign Up</button>
  </form>
</main>
