:root {
  --black: #020303;
  --dark-grey: #171c1c;
  --light-grey: #a7b9b7;
  --primary: #5cc1bb;
  --primary-dark: rgb(10, 79, 90);
  --secondary: indianred;
  --secondary-light: hsl(190, 58%, 45%);
  --text-color: #f5fffe;
  --space: 16px;
  --font-size: 18px;
}


@font-face {
  font-family: "Cottage";
  src: url(./fonts/Cottage.ttf);
}



body {
  background-color: var(--primary);
  background-image: url('./assets/Free-Medicine-Background.jpg');
  background-size: 100%;
  background-position:center center;
  background-repeat: repeat;
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: helvetica;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  box-sizing: border-box;
  width: 80%;
  max-width: 960px;
  margin: 25px;
  padding: 60px;
  align-self: center;
  text-align: center;
}

main,
main form {
  border-radius: 4px;
  padding: 60px;
}



/******headline treatments ****/

h1.index-welcome,
h1.dashboard-welcome {
  margin-top: 0px;
  margin-bottom: 20px;
}

h1.index-tracker,
h1.search-medicine,
h1.addMedicine-details {
  margin-top: -20px;
}

h1.index-script,
h1.dashboard-script,
h1.search-script {
  margin: -20px;
  font-family: Cottage;
  font-size: calc(var(--font-size) * 4.5);
  color: var(--primary-dark);
}

h1.dashboard-script {
  padding-bottom: 40px;
}

h1.addMedicine-script {
  margin: -20px;
  font-family: Cottage;
  font-size: calc(var(--font-size) * 4.5);
  color: var(--primary-dark);
}


h1.login-account,
h1.signup-account {
  margin-top: -10px;
}

h1.login-script, 
h1.signup-script {
  margin: -10px;
  font-family: Cottage;
  font-size: calc(var(--font-size) * 4.5);
  color: var(--primary-dark);
}

h1, h2, h3, h4, h5 {
  color:darkcyan;
  font-family: helvetica;
}


h1 {
  font-size: 36px; 
}

h2 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
  margin-top: -10px;
} 

h5 {
  font-size: 42px;
  margin-top: -30px;
}

h4 {
  font-size: 25px;
  margin-top: 10px;
}

.alert {
  color:indianred;
}

.alert-header {
  font-size: 40px;
  color:indianred;
}

a {
  color: var(--secondary-light);
  transition: color 200ms;
}
a:hover,
a:focus {
  color: var(--secondary);
}

p {
  margin:10px;
  color: var(--primary-dark);
  align-self: center;
  text-justify: center;
}

label{
  color: var(--primary-dark);
}


button.btn, .add-btn {
  border: var(--text-color);
  border-radius: 4px;
  background-color: var(--secondary-light);
  margin: 20px;
  font-family: helvetica;
  font-weight:bolder;
  font-size: 18px;
  color:rgb(255, 255, 255);
  padding: calc(var(--space) * 0.75) calc(var(--space) * 2);
  cursor: pointer;
  transition: background-color 200ms;
}

button.btn-text {
  border: none;
  background-color: transparent;
  color: var(--secondary-light);
  transition: 200ms;
  cursor: pointer;
}

button.btn:hover,
button.btn:focus {
  background-color: var(--secondary);
}
button.btn-text:hover,
button.btn-text:focus {
  color: var(--secondary);
}

.medicine-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -15px;
}


.dashboard-medicine-list-btn {
  border: var(--text-color);
  border-radius: 4px;
  font-size: 16px;
  font-family: helvetica;
  font-weight:bolder;
  color:rgb(23, 118, 144);
  background-color: var(white);
  margin: 20px;
  width: 350px;
  height: 70px;
  padding: 100px, 10px;
  cursor: pointer;
  text-wrap: wrap;
}



header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: calc(var(--space) * 1);
}
header a {
  margin: var(--space);
  font-size: 20px;
}
header .site-logo {
  font-size: 24px;
  margin: 10px;
  margin-right: auto;
}

header .stylize {
  font-family: Cottage;
  font-size: calc(var(--font-size) * 2);
}

.logo-stylize {
  font-family: Cottage;
  font-size: calc(var(--font-size) * 2);
  color: var(--primary-dark);
}


.site-logo {
  text-align: center;
  color: var(--primary-dark);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 3);
  font-weight: bold;
}

.login-form,
.addMed-form,
.medicine-form,
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  
}

.login-form .login-error {
  color: var(--secondary-light);
}

.login-form input,
.search-form input,
.medicine-form input,
.addMed-form input {
  margin-bottom: calc(var(--space) * 2);
  /* padding: 50px; */
  border-radius: 6px;
  border-color: indianred;
  text-align: center;
  font-size: 22px;
  text-wrap: wrap;
}


/*************************************/

@media screen and (max-width: 800px) {

  main {
    padding: 30px;
    margin-top: 50px;
  }

  .add-btn {
    padding: calc(var(--space) * 0.75) calc(var(--space) * 1);
    
  }

  .site-logo {
    font-size: calc(var(--font-size) * .5);
    margin: 0;
  }
  header .site-logo {
    font-size: 20px;
  }


  /*****index header****/

  h1.index-welcome,
  h1.dashboard-welcome {
    margin-bottom: 30px;
  }
  
  h1.index-tracker,
  h1.addMedicine-details {
    margin-top: 28px;
  }
  
  h1.index-script,
  h1.dashboard-script,
  h1.search-script,
  h1.addMedicine-script {
    margin: -10px;
    font-size: 50px;
  }
  
  
 /*****Login and signup header ***/

  h1.login-account,
  h1.signup-account {
    margin-top: 20px;
    font-size: 30px;
  }

  h1.login-script, 
  h1.signup-script {
    margin: -10px;
    font-size: 45px;
  }

  h1.search-medicine {
    font-size: 30px;
    margin-top: 20px;
  }

  

  h1 {
    line-height: 42px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }

  .login-form input,
  .search-form input,
  .medicine-form input,
  .addMed-form input {
    padding: 10px;
    font-size: 18px;
  }


  .logo-stylize {
    font-size:24px;
  }

  .dashboard-medicine-list-btn {
    width: 300px;
    height: 60px;
  }

  header a {
    margin: calc(var(--space) / 2);
    font-size: 18px;
  }
  
 
}
